<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
      inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -0.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
</style>
<body>
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/img/Haikyuu.jpg" />
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Haikyuu</h1>
              <p>
                Hinata Shouyou, al ver un partido de voleibol, pretende convertirse en "El pequeño gigante", y se une a la escuela media de voleibol del club. Después de encontrar nuevos miembros, se establece para el torneo de la escuela secundaria, donde se cruzan con una escuela superior, con el "Rey del juego superior", Kageyama Tobio .Aunque su equipo perdió, Shouyou sigue decidido a seguir adelante y vengarse de Kageyama. Al entrar en la escuela secundaria, recibió la sorpresa más grande - que Kageyama se encuentran en la misma escuela y el club!
              </p>
              <p>
                <a
                  class="btn btn-lg btn-primary"
                  href="https://www3.animeflv.net/anime/haikyuu"
                  target="_blank"
                  >Serie de Haikyuu</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/dragon.jpg" />
          <div class="container">
            <div class="carousel-caption">
              <h1>Dragon Ball</h1>
              <p>
                Después de derrotar a Majin Buu, la vida vuelve a ser tranquila una vez más. Goku vuelve a trabajar otra vez ya que Chichi le ordena que gane dinero, aunque él quiere seguir entrenando. Mientras, Goten, a punto de convertirse en cuñado de Videl, se embarca en un viaje con Trunks para encontrar un regalo para ella.
              </p>
              <p>
                <a
                  class="btn btn-lg btn-primary"
                  href="https://www3.animeflv.net/anime/dragon-ball-super"
                  target="_blank"
                  >Serie de Dragon Ball</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/kny.jpg" />
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Demon Slayers</h1>
              <p>
                Estamos en la era Taisho de Japón. Tanjiro, un joven que se gana la vida vendiendo carbón, descubre un día que su familia ha sido asesinada por un demonio. Para empeorar las cosas, su hermana menor Nezuko, la única superviviente de la masacre, ha sufrido una transformación en demonio. Destrozado por los acontecimientos Tanjiro decide convertirse en un cazador de demonios para poder devolver a su hermana a la normalidad y matar al demonio que masacró a su familia.
              </p>
              <p>
                <a
                  class="btn btn-lg btn-primary"
                  href="https://www3.animeflv.net/anime/kimetsu-no-yaiba"
                  >Serie Demon Slayers</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Marketing messaging and featurettes
      ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row" id="row">
        <div class="col-lg-4">
          <div class="card" style="width: 18rem">
            <img src="../assets/img/atack.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">Attack on Titan</h5>
              <p class="card-text">Accion, Drama, Superpoderes, Fantasia</p>
              <a href="#" class="btn btn-primary" href="https://www3.animeflv.net/anime/shingeki-no-kyojin">Ir a la serie</a>
            </div>
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="card" style="width: 18rem">
            <img src="../assets/img/cote.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">Classroom of the elite</h5>
              <p class="card-text">Comedia, Escolares, Romance</p>
              <a href="#" class="btn btn-primary" href="https://www3.animeflv.net/anime/youkoso-jitsuryoku-shijou-shugi-no-kyoushitsu-e-tv">Ir a la serie</a>
            </div>
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="card" style="width: 18rem">
            <img src="../assets/img/suba.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">KonoSuba</h5>
              <p class="card-text">Comedia, Aventura, Fantasia</p>
              <a href="#" class="btn btn-primary" href="https://www3.animeflv.net/anime/kono-subarashii-sekai-ni-shukufuku-wo">Ir a la serie</a>
            </div>
          </div>
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <div>
        
        <div class="col-md-5">
          
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          
        </div>
        <div class="col-md-5 order-md-1">
         
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        
        
        <div class="col-md-5">
          
        </div>
      </div>

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->
    </div>
    <!-- /.container -->

    <!-- FOOTER -->
    <footer class="container">
      <button type="button" class="btn btn-warning float-end">
        <a class="btn" href="#">Volver arriva</a>
      </button>
      <br />
     
    </footer>
  </main>
  <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
